<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   	<link rel="stylesheet" href="{{ static('css/style.css') }}">
    <title>Shortly</title>
</head>

<body>
    <header>
		{% include 'navbar.jinja' %}
	</header>
    <div class="container-fluid h-100 bg-color">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm">
                <img src="{{static('icons/about/link.svg')}}" alt="" class="icon-about">
                <p class = "text-about">Use any link, no matter what size</p>
            </div>
            <div class="col-sm">
                <img src="{{static('icons/about/shield-lock.svg')}}" alt="" class="icon-about">
                <p class = "text-about">It is fast and secure</p>
            </div>
            <div class="col-sm">
                <img src="{{static('icons/about/hand-thumbs-up.svg')}}" alt="" class="icon-about">
                <p class = "text-about">Shortly is easy and fast</p>
            </div>
            <div class="col-sm">
                <img src="{{static('icons/about/phone.svg')}}" alt="" class="icon-about">
                <p class = "text-about">Compatible with smartphones</p>
            </div>
        </div> 
    </div>
    {% include 'scripts.jinja' %}
</body>

</html>